{% load staticfiles %}
<html>
<head>
    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="icon" href="{% static 'images/icon.png' %}">
    {% endblock extra_css %}

    {% block extra_js %}
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    {% endblock extra_js %}

    {% block extra_head %}

    {% endblock extra_head %}
    <title>{% block title %}Fox & Hounds{% endblock %}</title>
</head>

<body id="body">
    <nav>
        <div id="title">
            {% block atitle %}
                <div>
                    <img id="logo_image" src="{% static 'images/logo.png' %}" alt="Logo"/>
                </div>
                {% if request.user.is_authenticated %}
                <div id=user_info>
                    Welcome <span class="username"></span>{{ request.user.username }}</span>!
                    <br>
                    <a href="{% url 'logout' %}">Logout <i class='fas fa-sign-out-alt'></i></a>
                </div>
                {% endif %}
            {% endblock atitle %}
        </div>

        <div id="options">
            <ul id="menu">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'create_game' %}">Create game</a></li>
                <li><a href="{% url 'join_game' %}">Join game</a></li>
                <li><a href="{% url 'select_game' %}">Select game</a></li>
                <li><a href="{% url 'show_game' %}">Show selected game and play</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </div>
        <p>Error counter: <b>{{ counter_global }}</b></p>
    </nav>

    <div id="contenido">

    {% block content %}
    {% endblock content %}

    </div>

    {% block footer %}
        <footer>
            &copy; 2019 Fox & Hounds | Mart&iacute;n Salinas & Nicol&aacute;s Serrano | All rights reserved
        </footer>
    {% endblock footer %}
</body>
</html>
