{% load staticfiles %}
<html>
<head>
    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Amita'>
    {% endblock extra_css %}

    {% block extra_js %}
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'js/drag_and_drop.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/useful.js' %}"></script>

        <script>
            var next;
            function replay(s) {
                var origin, target, previous;
                if(s != 0) {
                    $.ajax({
                        url: "{% url 'get_move' %}",
                        type: "POST",
                        data: {
                            shift: s,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            origin = "blank_cell_"+data.origin
                            target = "blank_cell_"+data.target
                            previous = data.previous
                            next = data.next

                            document.getElementById(target).innerHTML = document.getElementById(origin).innerHTML;
                            document.getElementById(origin).innerHTML = "";

                            if (previous === true) {
                                document.getElementById("preview").style.visibility = "visible";
                            } else {
                                document.getElementById("preview").style.visibility = "hidden";
                            }
                            if (next === true) {
                                document.getElementById("forward").style.visibility = "visible";
                                document.getElementById("auto").style.visibility = "visible";
                                document.getElementById("replay_end").style.visibility = "hidden";
                            } else {
                                document.getElementById("forward").style.visibility = "hidden";
                                document.getElementById("auto").style.visibility = "hidden";
                                document.getElementById("replay_end").style.visibility = "visible";
                            }
                        }
                    });
                } else {
                    sleep(1000);
                    $.ajax({
                        url: "{% url 'get_move' %}",
                        type: "POST",
                        data: {
                            shift: 1,
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                        },
                        success: function (data) {
                            origin = "blank_cell_"+data.origin
                            target = "blank_cell_"+data.target
                            previous = data.previous
                            next = data.next

                            document.getElementById(target).innerHTML = document.getElementById(origin).innerHTML;
                            document.getElementById(origin).innerHTML = "";

                            /* Ocultamos los botones para que no sean clickables mientras dura la ejecución automática */
                            document.getElementById("forward").style.visibility = "hidden";
                            document.getElementById("auto").style.visibility = "hidden";
                            document.getElementById("preview").style.visibility = "hidden";
                            document.getElementById("replay_end").style.visibility = "hidden";

                            if(next === true){
                                replay(0);
                            } else {
                                document.getElementById("replay_end").style.visibility = "visible";
                                document.getElementById("preview").style.visibility = "visible";
                            }
                        }
                    });
                }
            }
        </script>
    {% endblock extra_js %}

    {% block icon %}
        <link rel="icon" href="{% static 'images/icon.png' %}">
    {% endblock icon %}

    {% block extra_head %}

    {% endblock extra_head %}
    <title>{% block title %}Fox & Hounds{% endblock %}</title>
</head>

<body id="body">
    <nav>
        <div id="title">
            {% block atitle %}
                <div>
                    <img id="logo_image" src="{% static 'images/logo.png' %}" alt="Logo">
                </div>
                {% if request.user.is_authenticated %}
                <div id=user_info>
                    Welcome <span class="username"></span>{{ request.user.username }}</span>!
                    <br>
                    <a href="{% url 'logout' %}">Logout <i class='fas fa-sign-out-alt'></i></a>
                </div>
                {% endif %}
            {% endblock atitle %}
        </div>

        <div id="options">
            <ul id="menu">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'create_game' %}">Create game</a></li>
                <li><a href="{% url 'join_game' %}">Join game</a></li>
                <li><a href="{% url 'select_game' %}">Select game</a></li>
                <li><a href="{% url 'show_game' %}">Show selected game and play</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
        <p>Error counter: <b>{{ counter_global }}</b></p>
    </nav>

    <div id="contenido">

    {% block content %}
    {% endblock content %}

    </div>

    {% block footer %}
        <footer>
            &copy; 2019 Fox & Hounds | Mart&iacute;n Salinas & Nicol&aacute;s Serrano | All rights reserved
        </footer>
    {% endblock footer %}
</body>
</html>
