{% extends "mouse_cat/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="content">
    <h1>Play</h1>
    <p>Game: <b>{{ game.id }}</b></p>
    <form id="move_form" method="post" action="{% url 'move' %}">
        {% csrf_token %}
        <p>
            Hounds:
            <b>
                {% if game.cat_user.id == request.user.id %}
                    You
                {% else %}
                    {{ game.cat_user.username }}
                {% endif %}
            </b>
        </p>
        <p>
            Fox:
            <b>
                {% if game.mouse_user.id == request.user.id %}
                    You
                {% else %}
                    {{ game.mouse_user.username }}
                {% endif %}
            </b>
        </p>
        {% if game.cat_user.id == request.user.id %}
            {% if game.cat_turn %}
                {{ move_form }}
                <input id="move_button" type="submit" value="Move">
            {% else %}
                <img class="wait" src="{% static 'images/fox_wait.gif' %}" alt="Fox">
                <br>
                The fox is playing, please wait for it.
                <a id="refresh_link" href="{% url 'show_game' %}">Refresh</a>
            {% endif %}
        {% else %}
            {% if not game.cat_turn %}
                {{ move_form }}
                <input id="move_button" type="submit" value="Move">
            {% else %}
                <img class="wait" src="{% static 'images/hound_wait.gif' %}" alt="Hounds">
                <br>
                The hounds are playing, please wait for them.
                <a id="refresh_link" href="{% url 'show_game' %}">Refresh</a>
            {% endif %}
        {% endif %}
    </form>

    {% if board %}
        <table id="chess_board">
        {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}
                <tr>
            {% endif %}
            <td id="cell_{{ forloop.counter0 }}" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div id="blank_cell_{{ forloop.counter0 }}" class="blank_cell">
                {% if item ==  0 %}
                {% elif item == 1 %}<img id="duck_hunt_{{ forloop.counter0 }}" class="draggable" ondragstart="drag(event)" src="{% static 'images/duck_hunt.png' %}" alt="Hound">
                {% else %}<img id="tails" class="draggable" ondragstart="drag(event)" src="{% static 'images/tails.png' %}" alt="Fox">
                {% endif %}
                </div>
            </td>
            {% if forloop.counter|divisibleby:8 or forloop.last %}
                </tr>
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}
    <p id="return"><a href="{% url 'landing' %}">Home</a></p>
</div>
{% endblock content %}
