{% extends "mouse_cat/base.html" %}
{% load staticfiles %}

{% block content %}
{% if game.cat_user.id == request.user.id %}
    {% if not game.cat_turn %}
        <script type="text/javascript">
            function refresh() {
                var cat_turn = false;
                // !{ game.cat_turn } sigue dando error, no sabe qué es el '.'
                while (cat_turn === false) {
                    $.ajax({
                        url: "{% url 'refresh' %}",
                        type: "GET",
                        error: function(data) {
                            // Introduce the error into an error tag
            				$(".errorlist").text(data);
                            return;
            			},
                        success: function (data) {
                            // Parse to check if data is an error
                            if (!data.includes("ERROR")) {
                                $("#board-text_wrapper").html(data);
                            } else {
                                $(".errorlist").html(data);
                                return;
                            }
                        }
                    });
                    sleep(3000);
                    {% if game.cat_turn %}
                        alert("cat_turn = true");
                        cat_turn = true;
                    {% endif %}
                }
            }
            // Si activo la llamada, la página peta
            //refresh();
        </script>
    {% endif %}
{% else %}
    {% if game.cat_turn %}
        <script type="text/javascript">
            function refresh() {
                var cat_turn = true;
                while (cat_turn === true) {
                    $.ajax({
                        url: "{% url 'refresh' %}",
                        type: "GET",
                        error: function(data) {
                            // Introduce the error into an error tag
                            $(".errorlist").text(data + " failure");
                            return;
                        },
                        success: function (data) {
                            // Parse to check if data is an error
                            if (!data.includes("ERROR")) {
                                $("#board-text_wrapper").html(data);
                            } else {
                                $(".errorlist").html(data);
                                return;
                            }
                        }
                    });
                    sleep(500);
                    {% if not game.cat_turn %}
                        alert("cat_turn = false");
                        cat_turn = false;
                    {% endif %}
                }
            }
            // Si activo la llamada, la página peta
            //refresh();
        </script>
    {% endif %}
{% endif %}
<div id="content">
    <h1>Play</h1>
    <div id="game_wrapper">
        <div id="game_data">
            <p>Game: <b>{{ game.id }}</b></p>
                <p>
                    Hounds:
                    <b>
                        {% if game.cat_user.id == request.user.id %}
                            You
                        {% else %}
                            {{ game.cat_user.username }}
                        {% endif %}
                    </b>
                </p>
                <p>
                    Fox:
                    <b>
                        {% if game.mouse_user.id == request.user.id %}
                            You
                        {% else %}
                            {{ game.mouse_user.username }}
                        {% endif %}
                    </b>
                </p>
            </div>
        </div>
    <div id="board-text_wrapper">
        {% if board %}
            <table id="chess_board">
            {% for item in board %}
                {% if forloop.counter0|divisibleby:8 %}
                    <tr>
                {% endif %}
                <td id="cell_{{ forloop.counter0 }}" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <div id="blank_cell_{{ forloop.counter0 }}" class="blank_cell">
                    {% if item ==  0 %}
                    {% elif item == 1 %}<img id="duck_hunt_{{ forloop.counter0 }}" class="draggable" ondragstart="drag(event)" src="{% static 'images/duck_hunt.png' %}" alt="Hound">
                    {% else %}<img id="tails" class="draggable" ondragstart="drag(event)" src="{% static 'images/tails.png' %}" alt="Fox">
                    {% endif %}
                    </div>
                </td>
                {% if forloop.counter|divisibleby:8 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
        {% endif %}
        {% if game.cat_user.id == request.user.id %}
            {% if game.status == 2 %}
                {% if game.cat_turn %}
                    <form id="move_form" method="post" action="{% url 'move' %}">
                        {% csrf_token %}
                        <div id="game_error_wrapper">
                            {{ move_form }}
                            <input id="move_button" type="submit" value="Move">
                        </div>
                    </form>
                {% else %}
                    <div class="content_wrapper">
                        <div id="wait_message">
                            <img src="{% static 'images/fox_wait.gif' %}" alt="Fox">
                            <br>
                            <p>The fox is playing, please wait for it.<a id="refresh_link" href="{% url 'show_game' %}">Refresh</a></p>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="content_wrapper">
                    <p id="endgame_message_content">
                        {% if game.winner == 1 %}
                            You lost. Better luck nex time!
                        {% else %}
                            <img src="{% static 'images/fireworks.gif' %}" alt="Fireworks">
                            You won! Congratulations!
                            <img src="{% static 'images/fireworks.gif' %}" alt="Fireworks">
                        {% endif %}
                    </p>
                </div>
            {% endif %}
        {% else %}
            {% if game.status == 2 %}
                {% if not game.cat_turn %}
                    <form id="move_form" method="post" action="{% url 'move' %}">
                        {% csrf_token %}
                        <div id="game_error_wrapper">
                            {{ move_form }}
                            <input id="move_button" type="submit" value="Move">
                        </div>
                    </form>
                {% else %}
                    <div class="content_wrapper">
                        <div id="wait_message">
                            <img src="{% static 'images/hound_wait.gif' %}" alt="Hounds">
                            <br>
                            <p>The hounds are playing, please wait for them.<a id="refresh_link" href="{% url 'show_game' %}">Refresh</a></p>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="content_wrapper">
                    <p id="endgame_message_content">
                        {% if game.winner == 1 %}
                            <img src="{% static 'images/fireworks.gif' %}" alt="Fireworks">
                            You won! Congratulations!
                            <img src="{% static 'images/fireworks.gif' %}" alt="Fireworks">
                        {% else %}
                            You lost. Better luck next time!
                        {% endif %}
                    </p>
                </div>
            {% endif %}
        {% endif %}
    </div>
    <p id="return"><a href="{% url 'landing' %}">Home</a></p>
</div>
{% endblock content %}
