{% extends "mouse_cat/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="content">
    <h1>Join game</h1>
    {% if msg_error %}
        <p class="error">
            <img id="alert_sign" src="{% static 'images/alert_sign.png' %}" alt="Alert Sign">
            ERROR: {{ msg_error }}
            <img id="alert_sign" src="{% static 'images/alert_sign.png' %}" alt="Alert Sign">
        </p>
    {% else %}
        <p><b>{{ game.mouse_user.username }}</b> succesfully joined to game <b>{{ game.id }}</b>. The game can start!!!</p>
    {% endif %}
    <p id="return_center"><a href="{% url 'landing' %}">Home</a></p>
</div>
{% endblock content %}
