{% extends "mouse_cat/base.html" %}
{% load staticfiles %}

{% block content %}
<div id="content">
    <h1>Play</h1>
    <div id="game_wrapper">
        <div id="game_data">
            <p>Game: <b>{{ game.id }}</b></p>
                <p>
                    Hounds:
                    <b>
                        {% if game.cat_user.id == request.user.id %}
                            You
                        {% else %}
                            {{ game.cat_user.username }}
                        {% endif %}
                    </b>
                </p>
                <p>
                    Fox:
                    <b>
                        {% if game.mouse_user.id == request.user.id %}
                            You
                        {% else %}
                            {{ game.mouse_user.username }}
                        {% endif %}
                    </b>
                </p>
            </p>
        </div>
    </div>
    <div id="replay_menu">
        {% if shift >= 0 %}
            <button class="replay_button" onclick="replay({{ shift }} - 1)" type="button"><<</button>
        {% endif %}
        {% if shift != max_shift %}
            <button class="replay_button" onclick="replay({{ max_shift }})" type="button">AUTO</button>
        {% endif %}
        {% if shift < max_shift %}
            <button class="replay_button" onclick="replay({{ shift }} + 1)" type="button">>></button>
        {% endif %}
    </div>

    <div id="board-text_wrapper">
        {% if board %}
            <table id="chess_board">
            {% for item in board %}
                {% if forloop.counter0|divisibleby:8 %}
                    <tr>
                {% endif %}
                <td id="cell_{{ forloop.counter0 }}">
                    <div id="blank_cell_{{ forloop.counter0 }}" class="blank_cell">
                    {% if item ==  0 %}
                    {% elif item == 1 %}<img id="duck_hunt_{{ forloop.counter0 }}" src="{% static 'images/duck_hunt.png' %}" alt="Hound">
                    {% else %}<img id="tails" src="{% static 'images/tails.png' %}" alt="Fox">
                    {% endif %}
                    </div>
                </td>
                {% if forloop.counter|divisibleby:8 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
            </table>
        {% endif %}

        {% if shift == max_shift %}
            <div class="content_wrapper">
                <p id="endgame_message_content">
                    {% if game.cat_user.id == request.user.id %}
                        {% if game.winner == 1 %}
                            You lost. Better luck nex time!
                        {% else %}
                            <img src="{% static 'images/fireworks.gif' %}" alt="Fireworks">
                            You won! Congratulations!
                            <img src="{% static 'images/fireworks.gif' %}" alt="Fireworks">
                        {% endif %}
                    {% else %}
                        {% if game.winner == 1 %}
                            <img src="{% static 'images/fireworks.gif' %}" alt="Fireworks">
                            You won! Congratulations!
                            <img src="{% static 'images/fireworks.gif' %}" alt="Fireworks">
                        {% else %}
                            You lost. Better luck next time!
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        {% endif %}
    </div>
    <p id="return"><a href="{% url 'landing' %}">Home</a></p>
</div>
{% endblock content %}
