{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content">
    <h1>Select game</h1>
    <p><b><u>Games joined</u>:</b></p>
    <p>
        {% if as_cat %}
            Games as hounds:
            <ul>
            {% for game in as_cat %}
                <li>
                    <a href="{% url 'select_game' game.id %}">
                        <b>Game {{game.id}}</b>:
                        {% if game.status == 2 %}
                            Active,
                            {% if game.cat_turn %}
                                Your
                            {% else %}
                                Fox's
                            {% endif %}
                            turn.
                        {% else %}
                            Finished,
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            No games as hounds
        {% endif %}
    </p>
    <p>
        {% if as_mouse %}
            Games as fox:
            <ul>
            {% for game in as_mouse %}
                <li>
                    <a href="{% url 'select_game' game.id %}">
                        <b>Game {{game.id}}</b>:
                        {% if game.status == 2 %}
                            Active,
                            {% if game.cat_turn %}
                                Hounds'
                            {% else %}
                                Your
                            {% endif %}
                            turn.
                        {% else %}
                            Finished
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            No games as fox
        {% endif %}
    </p>
    <p><b><u>Games to join</u>:</b></p>
    <p>
        {% if join %}
            Games as fox:
            <ul>
            {% for game in join %}
                <li>
                    <a href="{% url 'select_game' game.id %}">
                        <b>Game {{game.id}}</b>:
                        Created, Hounds' turn.
                    </a>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            No avaliable games to join
        {% endif %}
    </p>
    <p id="return"><a href="{% url 'landing' %}">Home</a></p>
</div>
{% endblock content %}
