nav {
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #F234;
    left: 0;
    padding-top: 2%;
}

#contenido {
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 2%;
    background-color: #21C5B4;
}

#content {
    padding-left: 25px;
    padding-right: 25px;
}

#content h1 {
    text-align: center;
    font-size: 250%
}

#content li {
    list-style-type: none;
    /* color: #8E8E8E */
}

#content li:before {
    content: "~";
    padding-right: 8px;
    padding-left: 8px;
    color: #F7F2B3
}

#content li a {
    text-decoration: none;
    color: #000000;
}

#content li a:hover {
    text-decoration: none;
    color: #8E8E8E;
}

#title {
    width: 90%;
    text-align: center;
    background-color: 2C93B9;
    padding-top: 20px;
    margin-left: 5%;
}

#logo_image {
    width: 80%;
    background: #F7F2B3;
}

#user_info {
    background: #F7F2B3;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0%;
    background-color: white;
    text-align: center;
}

#menu {
    padding: 0;
}

#menu li {
    list-style-type: none;
    background-color: #8E8E8E;
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu li a {
    color: white;
    text-decoration: none;
}

#return {
    position: fixed;
    right: 0%;
    bottom: 0%;
    margin: 50px;
}

#return a {
    text-decoration: none;
    border-radius: 15px;
    padding: 10px;
    background-color: #2C93B9;
    color: 000000
}

#fox{
    padding-top: 30%;
    padding-bottom: 30%;
    float: left;
    width: 50%;
}

#hound{
    padding-top: 30%;
    padding-bottom: 30%;
    float: right;
    width: 50%;
}

#fox_image {
    width: 100%;
}

#hound_image{
    width: 100%;
}

